.img{

    width:75px;
    border-radius: 125px;
    object-fit: contain;
    vertical-align: middle;
    

}
.P1{

  font-weight: bold;

}

.P2 , .P3{

    color:rgb(39, 32, 32);

}


.Top, .para, .button{
 display: inline-block;
 vertical-align: middle;
 
}

.button{

    background-color: rgb(61, 6, 180);
    color:aliceblue;
}

